body {
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #000;
  margin: 0px;
  padding: 0px;
  background: #111;
  transition: top 2s;
  text-align: center;
  overflow: hidden;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

.modal .modal-content {
  padding: 10px;
}

.modal .modal-title {
  font-weight: bold;
}

.modal .modal-body .btn {
  margin-top: 20px;
}

.modal .modal-body img {
  border-radius: 5px;
}

label.opcao p {
  font-weight: bold;
  text-align: center;
}

#praticas {
  height: 250px;
  overflow-y: hidden;
}

.nav-tabs .nav-item {
  font-weight: bold;
}

p {
  padding: 2px;
  margin: 1px;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
}

.form-control-sm,
.input-group-sm>.form-control,
.input-group-sm>.input-group-prepend>.input-group-text,
.input-group-sm>.input-group-append>.input-group-text,
.input-group-sm>.input-group-prepend>.btn,
.input-group-sm>.input-group-append>.btn {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0 auto 20px;
  text-align: left;
}

p,
table,
li {}


a,
a:focus {
  outline: none;
  color: #353535;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #353535;
}

.form-control:focus {
  box-shadow: none;
}

.custom-select {
  font-weight: bold;
  border-radius: 3px;
}

label.input-group-text,
button.input-group-text {
  font-size: 14px;
  outline: 0;
  color: #fff;
  background: #313130;
  font-weight: bold;
}

label.input-group-text:hover,
button.input-group-text:hover {
  background: #40403f;
}

button,
button:active,
button:focus,
a {
  outline: none;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder {
  color: #495057;
  font-weight: normal;
}

input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="email"]::-moz-placeholder {
  color: #495057;
  font-weight: normal;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder {
  color: #495057;
  font-weight: normal;
}

input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="email"]:-moz-placeholder {
  color: #495057;
  font-weight: 900;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
.input-group-text,
select,
.custom-select {
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  height: auto;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ced4da;
}


hr {
  max-width: 110px;
  margin: 15px auto 25px;
  border-top-width: 2px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.btn,
.btn-success,
.btn-dark {
  color: #fff;
  background-color: #0c6196;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1px;
  border: 0px;
  border-radius: 3px;
  padding: 7px 12px 4px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1) !important;
}

.btn:hover,
.btn-success:hover,
.btn-dark:hover {
  color: #fff;
  background: #207eb9;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1) !important;
}

.btn.focus,
.btn:focus:focus {
  box-shadow: none;
}

.btn.verde {
  border-radius: 3px !important;
  background: #20A191;
}

.btn.verde:hover {
  background: #23b3a2
}

.btn.vermelho {
  border-radius: 3px !important;
  background: #BD2030;
}

.btn.vermelho:hover {
  background: #dd3141
}

.btn.azul {
  border-radius: 3px !important;
  background: #0c6196;
}

.btn.azul:hover {
  background: #207eb9;
}